@media screen and (max-width: 768px) and (min-width: 481px) {
  .header .btn{
    display: none;
  }
  nav{
    padding: 23px;
    text-align: center;
  }
  .header nav img{
    position: absolute;
  }
  .navUl{
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .mainSection{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .mainText{
    text-align: center;

  }
  .mainText h1{
    font-size: 30px;
  }
  .imageSection{
    width: 100%;
  }
  .imageSection img{
    width: 100%;
  }
.secundSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.secundSection .cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}
.secundSection .cards .card p{
  text-align: center;
}

.article{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}
.articleCard .articleText p{
  padding-top: 10px;
  color: var(--grayishBlue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 540px;
  padding-bottom: 50px;
  text-align: center;
}
.articleCard .articleText h3{
  padding: 10px;
  color: var(--darkBlue);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}


.footer .footerLinks {
display: grid;
grid-template-columns: 1fr;
grid-gap: 30px;
padding: 50px;
text-align: center;
}
.footer .footerLogo {
  text-align: center;
}
.footer .social {
  padding-top: 20px;
  text-align: center;
}
.footer p{
  text-align: center;
}
.footer .btn{
  text-align: center;
  margin-top: 20px;
  width: 50%;
}

}
@media screen and (max-width: 480px)and (min-width: 320px) {
  .header .btn{
    display: none;
  }
  nav{
    padding: 23px;
    text-align: center;
  }
  .header nav img{
    position: absolute;
  }

  .mainText h1{
    font-size: 25px;
  }
  .mainText p{
    font-size: 16px;
  }

  .secundSection h1{
    font-size: 25px;
    text-align: center;
  }

  .secundSection p{
    font-size: 16px;
  }

  .articleCard .articleText p{
    font-size: 16px;
  }

  .articleCard .articleText h3{
    font-size: 18px;
  }
  .articleCard .articleText h4{
    font-size: 16px;
  }
.article .articleCards.articleCard{
  width: 100%;
}

  .footer .footerLogo {
    text-align: center;
  }
  .footer .social {
    padding-top: 20px;
    text-align: center;
  }
  .footer p{
    text-align: center;
  }
  .footer .btn{
    text-align: center;
    margin-top: 20px;
    width: 60%;
  }

  .footer .footerLinks {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 50px;
    text-align: center;
  }


  
}
@media screen and (min-width: 992px )and (max-width: 1200px) {
  .mainSection .mainText{
    width: 100%;
  }

  .mainSection .mainText .btn{
    padding: 10px 20px;
  }

  .mainSection .mainText h1{
    font-size: 40px;
  }
  .mainSection .mainText p{
    font-size: 20px;
  }

  
}